.aiesec-opps-section {
  margin-top: 4rem;
  .heading {
    font-size: 24px;
    font-family: Raleway-SemiBold;
    text-align: center;
    margin-bottom: 50px;
    color: #495057;
    width: 50%;
    @media (max-width: 900px) {
      width: 100%;
      font-size: 18px;
      margin-bottom: 25px;
    }
  }
  .opps-container {
    max-width: 1140px;
    .embed-container {
      margin: 0 2ch;
      iframe {
        width: 500px;
        @media (max-width: 900px) {
          width: 200px;
        }
      }
    }
  }
}
