@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
}
#navbar {
  font-family: lato;
  color: #707070;
  margin: 0;
  padding: 0;
  display: flex;
  vertical-align: middle;
  background-color: #f8f9fa;
  max-height: 119px;
  img[alt='logo'] {
    width: 110px;
    height: 76px;
    margin-left: 130px;
    margin-top: 21px;
    margin-bottom: 21px;
    cursor: pointer;
  }
  img[alt='change language'] {
    position: absolute;
    right: -50px;
    cursor: pointer;
  }
  div {
    position: relative;
    text-align: center;
    margin-right: 129px;
    margin-left: auto;
    display: flex;
    white-space: nowrap;
    ul {
      position: absolute;
      list-style: none;
      padding-left: 0 !important;
      right: 0;
      top: 40px;
    }
    li {
      display: inline;
    }
    a {
      margin-left: 40px;
      cursor: pointer;
      padding-bottom: 3px;
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      border-bottom: 3px solid #037ef3;
    }
  }
}
